# Mistral AI API Key
MISTRAL_API_KEY=your_mistral_api_key_here

# Pinecone Database Configuration
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME= index_name

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
PORT=5001
